/* styles.css */
/* Common Styles */
body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f4;
}

.container {
    margin: 20px;
}

/* Rounded Buttons */
.round-button {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px;
    border: none;
    border-radius: 50px;
    background-color: #3498db;
    color: #fff;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.round-button:hover {
    background-color: #2980b9;
    transform: scale(1.05);
}

/* Login Form Styles */
.login-container {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: 0 auto;
}

.login-title {
    font-size: 24px;
    margin-bottom: 20px;
}

.login-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.login-button {
    background-color: #3498db;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login-button:hover {
    background-color: #2980b9;
}
.error-message {
    color: red;
    font-weight: bold;
    margin-top: 10px;
}
