<!DOCTYPE html>
<html>
<head>
    <title>Raspberry Pi GPIO Control</title>
    <link rel = "stylesheet" type = "text/css" href="../static/css/styles.css">
</head>
<body>
    <div class = "container">
        <h1>Raspberry Pi GPIO Control</h1>
        <button class = "round-button"><a href = "{{ url_for('toggle', buttonNo = '1') }}">Button 1</a></button>
        <button class = "round-button"><a href = "{{ url_for('toggle', buttonNo = '2') }}">Button 2</a></button>
        <button class = "round-button"><a href = "{{ url_for('toggle', buttonNo = '3') }}">Button 3</a></button>
    </div>
</body>
</html>
